@font-face {
    font-family: 'Rubik Iso',cursive;
    src: local('webfonts/Rubik_Iso/RubikIso-Regular.ttf');
}
body {
    font-size: 1.6rem;
    scroll-behavior: smooth;
    background-color: rgb(5, 5, 71);
    color: rgb(228, 239, 244);
}
header {
    padding: 1rem;
}
h1 {
    font: 4.5rem 'Rubik Iso';
    margin: 0;
    padding-bottom: 1rem;
}
#my-lists{
    position: relative;
    left:70%;
    padding: .5rem;
    margin-bottom: .5rem;
}
form, footer{
    color:black;
    background-color: rgb(228, 239, 244);
}
#search{
    vertical-align: middle;
    width:50%;
    background-image: url('google_watermark.gif');
    background-repeat: no-repeat;
}
#search:focus{
    background-image: none;
}
#search-by,footer {
    padding:.5rem;
    border-bottom-style: none;
}
#search-input{
    padding-bottom: .5rem;
    border-top-style: none;
}
fieldset{
    border-style: none;
}
.search-note{
    display: inline-block;
    margin-top: .5rem;
}
/* #btn-search,  */
#result-count{
    text-align: center;
    margin: .5rem;
}
#btn-search,#prev, #next{
    border-radius: 1rem;
    padding: .5rem;
    vertical-align: middle;
    /* color:rgb(228, 239, 244); */
    background-color: rgb(192, 192, 192);
    /* display: block; */
    /* margin: .5rem auto; */
    cursor: pointer;
    align-self: center;
}
.thumbnail {
    max-width: 100%;
    min-height: 20rem;
    max-height: 20rem;
    /* min-width: 100%; */
    /* width: auto; */
    /* padding: .5rem; */
}
.container>a{
    padding:.5rem;
}
.page-container {
    display: flex;
    flex-flow: row nowrap;
    justify-content: center;
    gap: .3rem;
    margin: 0 1rem 1rem 1rem;
    align-items: center;
}
/* :has is not firefox compatible yet, but it doesn't cause an issue, just displays normal instead of hide */
/* #result-count:has(.total:empty), */
.page-container:has(#pages:empty){
    display: none;
}
#pages {
    display: flex;
    flex-flow: row wrap;
    gap: .5rem;
    justify-content: center;
}
.books {
    margin-top: 0;
    padding-right: 1rem;
}
li {
    list-style-position: outside;
    background-color: rgb(228, 239, 244);
    color: black;
    border-radius: 1rem;
    padding: 1rem;
    margin-bottom: 1rem;
}
li:last-of-type{
    margin-bottom: 0;
}
::marker{
    color:white;
}
.container {
    display: flex;
    flex-flow: row wrap;
}
.read, .tbr, .delete {
    border-radius: 40%;
    padding: .5rem;
    transition: background-color .1s ease-in-out;
}
.read:active, .tbr:active, .delete:active {
    background-color: red;
}
.desc-short{
    margin: 0;
    max-height: 20.2rem;
    overflow-y: hidden;
}
.desc-long{
    margin: 0;
    max-height: fit-content;
    overflow-y: visible;
}
.more-less {
    padding: 0;
    cursor: pointer;
    color:cornflowerblue;
    text-decoration: underline;
    align-self: flex-end;
}
.page-links{
    text-decoration: none;
    color:rgb(43, 97, 199);
}
.current-page{
    color:rgb(100, 171, 237);
    text-decoration: none;
}
.information {
    max-width: 40rem;
    display: flex;
    flex-flow: column nowrap;
}
/* footer{
    position: s;
    bottom: -30vh;
} */
footer a:visited{
    color:cadetblue
}

/* wanted to style first word to be bold, but it takes whole line, need to change------------------- */
/* .descriptor {
    font-weight: bold;
} */